header{
    width: 100%;
    display: inline-block;
}

.hbLogo{

    margin-left: 30px;
}
.unBlurred{
display: flex;
justify-content: center;

}
.noname-form{
    margin-top: 10px;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #c46a73;
    padding: 10px;
    z-index: 300;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 50px 30px;
}
.noname-form input[type=text]{
    width:80%;
    border-radius: 4px;
}
.name-button{
    background-color: #C10E21;
    font-size: 16px;
    color: white;
    width: 121px;
    height: 41px;
    border-radius: 21px;
    margin-top: 20px;
    font-family: Montserrat;
  
}
#name{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 20;
    backdrop-filter: blur(4px);
    overflow: visible;
    justify-content: center;
    align-items: center;
   
}
.overlay-name{
    
    display: flex;
    width:20rem;
    z-index: 20;
    justify-content: center;
    align-items: center;
    
}
.vlBar{

    border-left: 2px solid #C10E21;
    margin: 8px;
    height: 80px;
    display: inline-block;
    margin-top:25px ;

}
.navbar-collapse{
    /* justify-content: center; */
    justify-content: flex-end;
    padding-right: 30px;
    padding-bottom: 10px;
}
.Title{
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    align-self: center;
}
.nav-item{
    display: flex;
    margin: 10px;
    
}
.navbar-toggler{
    position: sticky;
    
}
.cardBox{
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #00BACD;
    border-radius: 4px;
    opacity: 1;
    align-items: center;
    font-weight: bold;
   display: flex;
    width: 60px;
    height: 84px;
    background-color: white;
   margin:12px;
    cursor: pointer;
    z-index: 1;
}
.Cards{
    display: flex;
    position: absolute;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
    bottom: 0;
    flex-wrap: wrap;
}
.Hide{
    z-index: 2;
}
    

.TransitionButton{
    height: 30px;
}

.values{
    margin-left: auto;
    margin-right: auto;
}


.BackgroundBlur{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width:100%;
    z-index: -900;
    height:100vh;
    margin: -100vh; */
}


.User{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}

.UserName{
    font-family:Montserrat;
    font-size: 16px;
    color:  black;
    
    
    text-transform: uppercase;
    display: flex;
    justify-content:center;
    align-items:center;
}


.connect button{
    background-color: greenyellow;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
}

.disconnect button{
    background-color: red;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
}
/* Jira Link */

.dispnone{
    display: none;
}
.Jira-link{
    display: flex;
    width:50%;
    height:auto;
    
    align-items: center;
    justify-content: center;
}
.Jira-outer-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=text].Jira-Text{
    width: 80%;
}
.fa-pencil{
   color: #C10E21;
}
.fa-pencil:hover{
    color: white;
    background-color: #C10E21;
    border-radius: 8px;
    padding: 2px;
}



@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .blurred-container {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }
  
  /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .blurred-container {
      background-color: rgba(255, 255, 255, .8);
    }
  }