header{
    width: 100%;
    display: inline-block;
}

.hbLogo{

    margin-left: 30px;
}

.vlBar{

    border-left: 2px solid #C10E21;
    margin: 8px;
    height: 80px;
    display: inline-block;
    margin-top:25px ;

}
.Title{
    justify-content: space-between;
    overflow-x: hidden;
}

.cardBox{
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #00BACD;
    border-radius: 4px;
    opacity: 1;
    align-items: center;
    font-weight: bold;
   display: flex;
    width: 60px;
    height: 84px;
    background-color: white;
    margin-left: 33px;
    margin-bottom: 15px;
    cursor: pointer;
}
.Cards{
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    left:50%;
    transform: translateX(-50%);
    z-index: -1;
}
    

.TransitionButton{
    height: 30px;
}

.values{
    margin-left: auto;
    margin-right: auto;
}


.BackgroundBlur{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width:100%;
    z-index: -900;
    height:100vh;
    margin: -100vh; */
}


.User{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}

.UserName{
    font-family:Montserrat;
    font-size: 16px;
    color:  black;
    margin-top: -10px;
    margin-right: 30px;
    text-transform: uppercase;
    display: flex;
    justify-content:center;
    align-items:center;
}


