.theTable{
    
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: space-between;

}

.placedcard{
     height:62px;
     width:44px;
     background-color: #A7D9D8;
     border:1px solid #0D7882;
     border-radius: 4px;
     opacity: 1;
     cursor: pointer;
     margin:20px;
     
     display:flex;
     justify-content: center;
     align-items: center;
    
}
.cardplaced{
    display: flex;
    flex-direction: row;
}

.backcard{
    height:62px;
    width:44px;
    background-color: white;
    border: 1px solid #00BACD;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;
    margin:20px;
}



.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}