*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

@media screen and (max-width:1206px){

  .content{
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap !important ;
    height: fit-content !important;
    /* width: fit-content; */
    width: 100%;
    align-items: center;
    background-repeat: repeat-x;
    background-size: cover;
    margin-bottom: 100px;
  }
 
  .cards{
    margin-top:20px !important;
    float: left;
  }
  .CardH, .cardV{
    display: none !important;
   
  }
  .title{
    width: auto !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1207px){

.outerLogin {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
}
@media screen and (max-width: 1207px)
{
  .CardH, .cardV{
    display: none !important;
   
  }
}

/* Media query for below  550 not fixed*/
@media screen and (max-width:550){

  .Mountain{
    background-size: 750px 50px !important;
  }
}