*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.off{
  display: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

.cardK{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

 
  

@media screen and (max-width:1106px){
  .postioning{
    margin-left: 0px !important;
  }
  .content{
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap !important ;
    height: fit-content !important;
    /* width: fit-content; */
    width: 100%;
    align-items: center;
    background-repeat: repeat-x;
    background-size: cover;
    margin-bottom: 100px;
  }
 
  .cards{
    margin-top:20px !important;
    margin-bottom: 30px;
    float: left;
  }
  .CardH, .cardV{
    display: none !important;
   
  }
  .title{
    width: auto !important;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1332px){

.outerLogin {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

}
@media screen and (max-width: 1332px)
{
  .CardH, .cardV{
    display: none !important;
   
  }
 
}

/* Media query for below  550 fixed*/
@media screen and (max-width:550px){
  .Root{
    width: 200%;
  }

  .content{
    width:100% !important;
  }
  .cards{
    margin: 30px;
  }
  .postioning{
    margin-left: 0px !important;
  }
  .title{
    margin-top: 10px;
  }
}